*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles start */
.nav-link-text{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
}
.curriculum-card-title{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.53rem;
    text-align: center;
    color: rgba(32, 32, 32, 1);
}
.curriculum-card-description{
    font-family: Raleway;
    font-weight: 500;
    font-size: 0.95rem;
    text-align: center;
    color: rgba(128, 128, 128, 1);
    line-height: 28.3px;
}
.curriculum-card-link{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 0.95rem;
    text-align: center;
}
.stories-right-card{
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}
.stories-card-date-btn{
    font-family: Raleway;
    font-weight: 500;
    font-size: 0.95rem;
    text-align: center;
    color: rgb(255, 255, 255); 
    padding: 10px 18px;
    border-radius: 48px; 
    background-color: rgba(149, 178, 38, 1);
}
.stories-right-card-description{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 0.95rem;
    line-height: 28.8px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 28px;
}
/* shared styles start */

/* nav related styles start */
header{
    background-color: rgb(247, 247, 247);
}
.navbar{
    max-width: 1160px;
    margin: 0px auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo-cont{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
}
.site-logo-name{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 2rem;
    color: rgba(17, 17, 17, 1);
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.nav-link-list{
    list-style: none;
}
.nav-link-list:hover{
    transform: translateY(-2px);
    transition-duration: 0.2s;
}
.nav-link1{
    color: rgba(254, 163, 1, 1);
}
.nav-link1:hover{
    text-shadow: 0px 16px 1px rgba(254, 163, 1, 0.3);
    transition-duration: 0.4s;
}
.nav-link2{
    color: rgba(1, 172, 253, 1);
}
.nav-link2:hover{
    text-shadow: 0px 16px 1px rgba(1, 172, 253, 0.3);
    transition-duration: 0.4s;
}
.nav-link3{
    color: rgba(5, 212, 223, 1);
}
.nav-link3:hover{
    text-shadow: 0px 16px 1px rgba(5, 212, 223, 0.3);
    transition-duration: 0.4s;
}
.nav-link4{
    color: rgba(93, 88, 239, 1);
}
.nav-link4:hover{
    text-shadow: 0px 16px 1px rgba(93, 88, 239, 0.3);
    transition-duration: 0.4s;
}
.nav-btn{
    font-family: Quicksand;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 30px;
    padding: 10px 60px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
}
.nav-btn:hover{
    color: rgba(1, 172, 253, 1); 
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 2px rgba(1, 172, 253, 1);
    transition-duration: 0.4s;
}
.hamburger-icon{
    display: none;
}
.hamburger-icon> img{
    width: 100%;
}
/* nav related styles end */

/* navbar responsive styles for small devices start */
@media screen and (max-width: 576px) {
    .navbar{
        padding: 12px 16px;
        border: 0.5px solid rgb(254, 163, 1);
    }
    .site-logo-name, .nav-links-cont, .nav-btn-cont{
        display: none;
    }
    .site-logo-cont{
        width: 46px;
        height: 46px;
    }
    .site-logo-cont> .site-logo{
        width: 100%;
    }
    .hamburger-icon{
        display: block;
    } 
    .ham-icon{
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 576px) and (max-width:992px) {
    .navbar{
        padding: 12px 16px;
    }
    .site-logo-name, .nav-links-cont, .nav-btn-cont{
        display: none;
    }
    .site-logo-cont{
        width: 46px;
        height: 46px;
    }
    .site-logo-cont> .site-logo{
        width: 100%;
    }
    .hamburger-icon{
        display: block;
    } 
    .ham-icon{
        font-size: 1.6rem;
    }
}
/* navbar responsive styles for small devices end */

/* hero section related styles start */
.hero{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.hero-title{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 61px;
    text-align: left;
    margin-bottom: 24px;
}
.text-part1{
    color: rgba(254, 163, 1, 1);
}
.text-part2{
    color: rgba(17, 17, 17, 1);
}
.text-part3{
    color: rgba(1, 172, 253, 1);
}
.hero-description{
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 24px;
}
.hero-btn{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    line-height: 30px;
    color: rgba(255, 255, 255, 1); 
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 10px 47px;
    background-color: rgba(17, 17, 17, 1);
    cursor: pointer;
}
.hero-btn:hover{
    color: rgba(17, 17, 17, 1); 
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 2px rgba(17, 17, 17, 1);
    transition-duration: 0.4s;
}
/* hero section related styles end */

/* responsive styles for hero section start */
@media screen and (max-width: 576px) {
    .hero{
        flex-direction: column-reverse;
        margin: 20px 20px 0px;
        gap: 20px;
    } 
    .hero-img{
        width: 100%;
    }
    .hero-title{
        font-size: 2rem;
        text-align: center;
        line-height: 40px;
        margin-bottom: 18px;
    }
    .hero-description{
        font-size: 0.87rem;
        text-align: center;
        margin-bottom: 18px;  
    }
    .hero-btn-cont{
        text-align: center;
    }
    .hero-btn{
        font-size: 1rem;
        text-align: center;
        border-radius: 8px;
        padding: 6px 24px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .hero{
        flex-direction: column-reverse;
        margin: 20px 20px 0px;
        gap: 20px;
    } 
    .hero-img{
        width: 100%;
    }
    .hero-title{
        font-size: 2.3rem;
        text-align: left;
        line-height: 40px;
        margin-bottom: 18px;
    }
    .hero-description{
        font-size: 0.87rem;
        text-align: left;
        margin-bottom: 18px;  
    }
    .hero-btn-cont{
        text-align: left;
    }
    .hero-btn{
        font-size: 1rem;
        text-align: center;
        border-radius: 8px;
        padding: 6px 24px;
        margin-bottom: 20px;
    }
}
/* responsive styles for hero section end */

/* curriculum section related styles start */
.curriculum-section{
    background: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.curriculum-container{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.curriculum-title{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 2.8rem;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-top: 60px;
}
.curriculum-cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}
.card{
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    padding: 52px 40.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card:hover{
    transform: translate(0px, -20px);
    transition: 0.3s;
}
.curriculum-card-link{
    text-decoration: none;
}
.card-link1{
    color: rgba(100, 200, 255, 1);
}
.card-link2{
    color: rgba(240, 170, 0, 1);
}
.card-link3{
    color: rgba(135, 0, 255, 1);
}
.card-1{
    border: 0.94px solid rgb(222, 245, 255, 1);
    background: linear-gradient(180deg, rgb(222, 245, 255, 1), rgba(222, 245, 255, 0) 40%, rgb(255, 255, 255, 1));
}
.card-2{
    border: 0.94px solid rgba(255, 244, 220, 1);
    background: linear-gradient(180deg, rgb(255, 244, 220, 1), rgba(255, 244, 220, 0) 40%, rgb(255, 255, 255, 1));
}
.card-3{
    border: 0.94px solid rgba(242, 232, 255, 1);
    background: linear-gradient(180deg, rgba(238, 225, 255, 1), rgba(238, 225, 255, 0) 40%, rgb(255, 255, 255, 1));
}
.arrow-left-cont{
    width: 60px;
    height: 60px;
    background-color: rgba(254, 163, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.arrow-left-cont:hover{
    background-color: rgba(100, 200, 255, 1);
    transition: 0.1s;
    box-shadow: 0px 0px 0px 5px rgba(238, 225, 255, 1);
}
.arrow-right-cont{
    width: 60px;
    height: 60px;
    background-color: rgba(254, 163, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.arrow-right-cont:hover{
    background-color: rgba(100, 200, 255, 1);
    transition: 0.1s;
    box-shadow: 0px 0px 0px 5px rgba(238, 225, 255, 1);
}
.arrow-left{
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
}
.arrow-right{
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
}
.arrow-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
}
/* curriculum section related styles end */

/* responsive styles for curriculum section start */
@media screen and (max-width: 576px) {
    .curriculum-section{
        background-position: top right;
        background-size: cover;
    }
    .curriculum-container{
        padding: 0px 16px 20px;
        gap: 20px;
    }
    .curriculum-title{
        font-size: 1.6rem;
        margin-top: 40px;
    }
    .curriculum-cards-container{
        flex-direction: column;
        gap: 12px;
    }
    .card:hover{
        transform: translate(0px, 0px);
        transition: 0s;
    }
    .arrow-cont{
        display: none;
    }
    .curriculum-card-title{
        font-size: 1.03rem;
    }
    .curriculum-card-description{
        font-size: 0.63rem;
        line-height: 19.2px;
    }
    .curriculum-card-link{
        font-size: 0.63rem;
    }
    .card{
        border-radius: 12.77px;
        padding: 36px 80px;
        gap: 22px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .curriculum-section{
        background-position: top right;
        background-size: cover;
    }
    .curriculum-container{
        padding: 0px 16px 10px;
        gap: 20px;
    }
    .curriculum-title{
        font-size: 1.6rem;
        margin-top: 40px;
    }
    .curriculum-cards-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
    }
    .card:hover{
        transform: translate(0px, 0px);
        transition: 0s;
    }
    .arrow-cont{
        display: none;
    }
    .curriculum-card-title{
        font-size: 1.1rem;
    }
    .curriculum-card-description{
        width: 230px;
        font-size: 0.75rem;
        line-height: 19.2px;
    }
    .curriculum-card-link{
        font-size: 0.68rem;
    }
    .card{
        border-radius: 12.77px;
        padding: 10px 10px;
        gap: 22px;
    }
}
/* responsive styles for curriculum section end */

/* stories section related styles start */
.stories-section{
    background: linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3)),url("../assets/bg.png") ;
    background-repeat: repeat;
    background-position: top center;
    background-size: cover;
}
.stories-container{
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.stories-title{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 2.87rem;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}
.stories-cards-cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
   padding-bottom: 80px;
}
.left-card-cont{
    max-width: 595px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);

}
.left-card-img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.left-card-text-cont{
   padding: 0px 38px; 
}
.date-btn-cont{
    margin-top: -15px;
    margin-bottom: 33px;
}
#sky-date-btn{
    background-color: rgba(60, 216, 232, 1);
}
.stories-left-card-title{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 38.3px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 48px;
}
.stories-left-card-description{
    font-family: Quicksand;
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 28.8px;
    color: rgba(102, 102, 102, 1);
    margin-bottom: 42px;
}

.right-card-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}
.right-card-img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.right-card-text-cont{
    padding: 0px 38px;
}
.stories-btn-cont{
    text-align: center;
    
}
#blue-date-btn{
    background-color: rgba(93, 88, 240, 1);
}
.stories-btn{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    line-height: 30px;
    color: rgba(255, 255, 255, 1); 
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 10px 47px;
    background-color: rgba(17, 17, 17, 1);
    cursor: pointer;
}
.stories-btn:hover{
    color: rgba(17, 17, 17, 1); 
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 2px rgba(17, 17, 17, 1);
    transition-duration: 0.4s;
}

/* stories section related styles end */

/* responsive styles for stories section start */
@media screen and (max-width:576px) {
    .left-card-cont{
        display: none;
    }
    .right-card-cont{
        gap: 11px;
    }
    .stories-title{
        font-size: 1.6rem;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .stories-right-card{
        border-radius: 9.53px;
    }
    .right-card-img{
        border-radius: 9.53px 9.53px 0px 0px;
    }
    .stories-card-date-btn{
        font-size: 0.57rem;
        padding: 5px 10px;
        border-radius: 28.54px; 
    }
    .right-card-text-cont{
        padding: 0px 20px;
    }
    .stories-right-card-description{
        font-size: 0.57rem;
        line-height: 17.1px;
        margin-bottom: 10px;
    }
    .stories-cards-cont{
        padding: 0px 16px 20px;
    }
    .stories-container{
        padding-bottom: 40px;
    }
    .stories-btn{
        font-size: 1rem;
        border-radius: 12px;
        padding: 2px 40px;
    }
}

@media screen and (min-width:576px) and (max-width: 992px) {
    .left-card-cont{
        display: none;
    }
    .right-card-cont{
        gap: 11px;
    }
    .stories-title{
        font-size: 1.7rem;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .stories-right-card{
        border-radius: 9.53px;
    }
    .right-card-img{
        border-radius: 9.53px 9.53px 0px 0px;
    }
    .stories-card-date-btn{
        font-size: 0.9rem;
        padding: 5px 10px;
        border-radius: 28.54px; 
    }
    .right-card-text-cont{
        padding: 0px 20px;
    }
    .stories-right-card-description{
        font-size: 1rem;
        line-height: 17.1px;
        margin-bottom: 10px;
    }
    .stories-cards-cont{
        align-content: center;
        justify-content: center;
        padding: 0px 16px 20px;
    }
    .stories-container{
        padding-bottom: 40px;
    }
    .stories-btn{
        font-size: 1rem;
        border-radius: 12px;
        padding: 5px 37px;
    }
}
/* responsive styles for stories section end */

/* footer related styles start */
footer{
    background-color: rgba(1, 172, 253, 1);
    padding: 123px 0px 174px 0px;
}
.footer-section{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 150px;
}
.footer-left-up{
    display: flex;
    align-items: center;
    gap: 11px;
}
.footer-logo{
    width: 83px;
    height: 82px;
    padding-bottom: 5px;
}
.footer-title{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 2.63rem;
    color: rgba(255, 255, 255, 1);
    line-height: 39.5px;
}
.footer-description{
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    margin-top: 35px;
    padding-left: 10px;
}
.footer-middle-title{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    margin-bottom: 32px;
}
.footer-middle-link-list{
    margin-bottom: 20px;
    list-style: none;
}
.footer-middle-link{
    text-decoration: none;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}
.footer-right-title{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.62rem;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    margin-bottom: 32px;
}
.footer-right-icon-cont{
    display: flex;
    gap: 10px;
}
.footer-right-icon{
    cursor: pointer;
}

.marquee-text{
    font-family: Quicksand;
    font-weight: 600;
    font-size: 1.5rem;
    color: #ffff;
    
}
marquee{
    background-color: rgba(1, 172, 253, 0.6);
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
}
/* footer related styles end */
/* responsive styles for footer section start */
@media screen and (max-width:576px) {
    footer{
        padding: 65px 20px 60px 20px;
    }
    .footer-section{
        flex-direction: column;
        gap: 32px;
    }
    .footer-title{
        font-family: Quicksand;
        font-weight: 700;
        font-size: 2.21rem;
        color: rgba(255, 255, 255, 1);
        line-height: 33.5px;
    }
    .footer-description{
        font-size: 1rem;
        margin-top: 22px;
        padding-left: 0px;
    }
    .footer-logo{
        margin-left: -10px;
    }
    .footer-middle-title{
        font-weight: 600;
        font-size: 1.27rem;
        margin-bottom: 27px;
    }
    .footer-middle-link-list{
        margin-bottom: 17px;
    }
    .footer-middle-link{
        font-size: 1.25rem;
    }
    .footer-right-title{
        font-size: 1.37rem;
        margin-bottom: 36px;
    }
    .footer-right-icon-cont{
        gap: 9px;
    }
    .marquee-text{
        font-family: Quicksand;
        font-weight: 600;
        font-size: 1.1rem;
        color: #ffff;
        
    }
    marquee{
        background-color: rgba(1, 172, 253, 0.6);
        padding: 5px 0px;
        position: fixed;
        bottom: 0;
        border-radius: 10px 10px 0px 0px;
    }
}

@media screen and (min-width:576px) and (max-width: 992px) {
    footer{
        padding: 30px 20px 60px 20px;
    }
    .footer-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        gap: 32px;
    }
    .footer-title{
        font-family: Quicksand;
        font-weight: 700;
        font-size: 2rem;
        color: rgba(255, 255, 255, 1);
        line-height: 33.5px;
    }
    .footer-description{
        font-size: 0.95rem;
        margin-top: 20px;
        padding-left: 0px;
    }
    .footer-logo{
        margin-left: -10px;
    }
    .footer-middle-title{
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 27px;
        text-align: right;
    }
    .footer-middle-link-list{
        margin-bottom: 17px;
    }
    .footer-middle-link{
        font-size: 1rem;
    }
    .footer-middle-column{
        text-align: right;
    }
    .footer-right-title{
        font-size: 1.1rem;
        margin-bottom: 36px;
    }
    .footer-right-icon-cont{
        gap: 9px;
    }
    .marquee-text{
        font-family: Quicksand;
        font-weight: 600;
        font-size: 1.2rem;
        color: #ffff;
        
    }
    marquee{
        background-color: rgba(1, 172, 253, 0.6);
        padding: 5px 0px;
        position: fixed;
        bottom: 0;
        border-radius: 10px 10px 0px 0px;
    }
}
/* responsive styles for footer section end */

@media screen and (min-width:992px) and (max-width: 1180px) {
    .navbar, .hero, .curriculum-section, .stories-section, footer{
        padding-left: 20px;
        padding-right: 20px;
    }
    .right-card-text-cont {
        padding: 0px 10px;
    }
    .stories-card-date-btn {
        font-family: Raleway;
        font-weight: 500;
        font-size: 0.7rem;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 10px 18px;
        border-radius: 48px;
        background-color: rgba(149, 178, 38, 1);
    }
}