*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.nav-link-text{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
}
.curriculum-card-title{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.53rem;
    text-align: center;
    color: rgba(32, 32, 32, 1);
}
.curriculum-card-description{
    font-family: Raleway;
    font-weight: 500;
    font-size: 0.95rem;
    text-align: center;
    color: rgba(128, 128, 128, 1);
    line-height: 28.3px;
}
.curriculum-card-link{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 0.95rem;
    text-align: center;
}
.stories-right-card{
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}
.stories-right-card-date-btn{
    font-family: Raleway;
    font-weight: 500;
    font-size: 0.95rem;
    text-align: center;
    color: rgb(255, 255, 255); 
    padding: 10px 18px;
    border-radius: 48px; 
}
.stories-right-card-description{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 0.95rem;
    line-height: 28.8px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

/* nav related styles */
header{
    background-color: rgb(247, 247, 247);
}
.navbar{
    max-width: 1160px;
    margin: 0px auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo-cont{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
}
.site-logo-name{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 2rem;
    color: rgba(17, 17, 17, 1);
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.nav-link-list{
    list-style: none;
}
.nav-link1{
    color: rgba(254, 163, 1, 1);
}
.nav-link2{
    color: rgba(1, 172, 253, 1);
}
.nav-link3{
    color: rgba(5, 212, 223, 1);
}
.nav-link4{
    color: rgba(93, 88, 239, 1);
}
.nav-btn{
    font-family: Quicksand;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 30px;
    padding: 10px 60px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
}
.hamburger-icon{
    display: none;
}
.hamburger-icon> img{
    width: 100%;
}
/* navbar responsive styles for small devices */
@media screen and (max-width: 576px) {
    .navbar{
        padding: 12px 16px;
    }
    .site-logo-name, .nav-links-cont, .nav-btn-cont{
        display: none;
    }
    .site-logo-cont{
        width: 46px;
        height: 46px;
    }
    .site-logo-cont> .site-logo{
        width: 100%;
    }
    .hamburger-icon{
        display: block;
    } 
    .ham-icon{
        font-size: 1.6rem;
    }
}
/* navbar responsive styles for small devices */

/* hero section related styles */
.hero{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.hero-title{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 61px;
    text-align: left;
    margin-bottom: 24px;
}
.text-part1{
    color: rgba(254, 163, 1, 1);
}
.text-part2{
    color: rgba(17, 17, 17, 1);
}
.text-part3{
    color: rgba(1, 172, 253, 1);
}
.hero-description{
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 24px;
}
.hero-btn{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    line-height: 30px;
    color: rgba(255, 255, 255, 1); 
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 10px 47px;
    background-color: rgba(17, 17, 17, 1);
    cursor: pointer;
}
/* responsive styles for hero section */
@media screen and (max-width: 576px) {
    .hero{
        flex-direction: column-reverse;
        margin: 20px 20px 0px;
        gap: 20px;
    } 
    .hero-img{
        width: 100%;
    }
    .hero-title{
        font-size: 2rem;
        text-align: center;
        line-height: 40px;
        margin-bottom: 18px;
    }
    .hero-description{
        font-size: 0.87rem;
        text-align: center;
        margin-bottom: 18px;  
    }
    .hero-btn-cont{
        text-align: center;
    }
    .hero-btn{
        font-size: 1.25rem;
        text-align: center;
        border-radius: 8px;
        padding: 6px 24px;
        margin-bottom: 20px;
    }
}
